/*Typography*/
html {
    font: 16px 'Lobster', serif;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.5em;
}

p {
    font-size: 1.25em;
}

/*BASE*/
html,
body {
    width: 100%;
    height: 100%;
}

/*Layout*/
* {
    box-sizing: border-box;
}

/*Navigation*/
nav {
    position: relative;
    left: -12em;
    width: 6em;
    height: 100%;
    background: #20747D;
    font-family: 'Roboto Condensed', sans-serif;
    -webkit-transition: left .85s linear;
    transition: left .85s linear;
}

.nav ul {
    float: left;
    width: 100%;
}

.nav a,
.fa-bars,
.soc-media a {
    display: block;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    -webkit-transition: background .35s;
    transition: background .35s;
}
.nav a:hover,
.fa-bars:hover,
.soc-media a:hover {
    background: #7D2020;
}
.nav a:active,
.fa-bars:active,
.soc-media a:active {
    background: #7D2020;
}

.nav a {
    padding: 1em .5em;
    width: 100%;
}

.fa-bars {
    position: absolute;
    left: 0em;
    padding: .25em 0;
    z-index: 99;
    width: 2em;
    background: #20747D;
    text-align: center;
    -webkit-transition: left .75s ease-in-out;
    transition: left .75s ease-in-out;
}
.fa-bars:hover {
    cursor: pointer;
}

[type="checkbox"] {
    display: none;
}
[type="checkbox"]:checked + label {
    left: 3em;
}
[type="checkbox"]:checked ~ nav {
    left: 0;
}

/*Social media*/
.soc-media {
    position: absolute;
    bottom: 5px;
}

.soc-media li {
    float: left;
}

.soc-media a {
    padding: .5em 0;
    width: 2em;
    font-weight: normal;
    text-align: center;
}

/*Page Wrapper*/
.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: url(http://www.gratisography.com/pictures/119.jpg) no-repeat;
    background-size: cover;
}

.wrapper > h1 {
    position: absolute;
    top: 45%;
    width: 100%;
    color: #20747D;
    font-size: 3em;
    text-align: center;
}

.overlay {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
}

/*Pages*/
section {
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    overflow: hidden;
    /*hide all on 0% width*/
    -webkit-transition: all .75s;
    transition: all .75s;
}

:target {
    width: 100%;
}

section .content {
    margin: 1em auto;
    max-width: 900px;
    width: 60%;
    color: #20747D;
}

section h1,
section h2,
section h3,
p {
    margin-bottom: .5em;
    text-align: center;
}

section p {
    margin: .5em 0;
    font-family: 'lobster';
}

/*Home page*/
/*About page*/
.about {
    background: rgba(255, 255, 255, 0.75);
}

/*food tracker page*/
.foodTracker {
    background: rgba(255, 255, 255, 0.75);
}

p {
    color: black;
}
