/*Typography*/
html {
    font: 16px, serif;
}

/*BASE*/
html,
body {
    width: 100%;
    height: 100%;
}

/*Layout*/
* {
    box-sizing: border-box;
}

/*Navigation*/
nav {
    position: relative;
    text-align: center;
    left: -15em;
    width: 6.3em;
    height: 26%;
    background: #20747D;
    font-family: 'Roboto Condensed', sans-serif;
    -webkit-transition: left .85s linear;
    transition: left .85s linear;
}
.nav ul {
    float: left;
    width: 100%;
}
.nav a,
.fa-bars {
    display: block;
    color: #fff;
    text-shadow: 2px 2px 6px rgb(118, 118, 118) , 3px 3px rgb(0, 146, 255);
    font-weight: bold;
    text-decoration: none;
    -webkit-transition: background .35s;
    transition: background .35s;
}

/*hover effect */
.nav a:hover,
.fa-bars:hover, {
    background: #00e3fc;
}
.nav a:active,
.fa-bars:active {
    background: #00e3fc;
}
.nav a {
    padding: 1em .5em;
    width: 60%;
}
/* button nav*/
.fa-bars {
    position: absolute;
    left: 0em;
    padding: .25em 0;
    z-index: 1;
    width: 3.3em;
    height: 3.3em;
    background: #20747D;
    -webkit-transition: left .75s ease-in-out;
    transition: left .85s ease-in-out;
}
.fa-bars:hover {
    cursor: pointer;
}

[type="checkbox"] {
    display: none;
}
[type="checkbox"]:checked + label {
    left: 6.8em;
}
[type="checkbox"]:checked ~ nav {
    left: 0;
}

/*Page Wrapper*/
.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.overlay {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
}

/*Pages*/
section {
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    overflow: hidden;
    /*hide all on 0% width*/
    -webkit-transition: all .75s;
    transition: all .75s;
}

:target {
    width: 100%;
}

section .content {
    margin: 1em auto;
    max-width: 600px;
    width: 60%;
    color: #20747D;
}

/* paragraphs */
p {
    margin-bottom: .5em;
    text-align: center;
    margin: .5em 0;
    font-family: Lobster;
    color: black;
    font-size: 1.25em;
}

/*About page fade*/
.about {
    background: rgba(255, 255, 255, 0.75);
}

/*food tracker page fade*/
.foodTracker {
    background: rgba(255, 255, 255, 0.75);
}

/* Hides bullets*/
ul
{
    list-style-type: none;
    margin: 0px -33px;
}

/* home header */
.wrapper > .headerPage2 {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin: 0 auto;
    border: none;
    font: normal 82px/normal "Anton", Helvetica, sans-serif;
    text-align: center;
    text-transform: uppercase;
    -o-text-overflow: clip;
    text-overflow: clip;
    letter-spacing: 10px;
    text-shadow: 4px 4px 0 rgb(238,238,238) , 6px 6px 0 rgb(112,112,112) ;
    margin-left: auto;
    margin-right: auto;
    transform: scale(0.8);
    position: absolute;
    top: 30%;
    width: 100%;
    color: #20747D;
    text-align: center;
}

/* about and food tracker Headers */
.headerPage {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin: 0 auto;
    border: none;
    font: normal 82px/normal "Anton", Helvetica, sans-serif;
    color: 20747D;
    text-align: center;
    text-transform: uppercase;
    -o-text-overflow: clip;
    text-overflow: clip;
    letter-spacing: 10px;
    text-shadow: 4px 4px 0 rgb(238,238,238) , 6px 6px 0 rgb(112,112,112) ;
    margin-left: auto;
    margin-right: auto;
    transform: scale(0.8);
}

#arrow {
    position: relative;
    left:2.5px;
}